/* Good colour scheme for this site:
*  #443627 (primary)
*  #D98324 (secondary)
*  #EFDCAB (tertiary)
*  #F2F6D0 (other things)
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/restaurant-image.jpg');
    color: #F2F6D0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #EFDCAB;
}

button {
    height: 30px;
    width: 75px;
    border: solid 1px #D98324;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D98324;
    color: #F2F6D0;
}

button:hover {
    cursor: pointer;
}

figure {
    display: inline-block;
}

figcaption {
    font-style: italic;
    text-align: center;
}

img {
    width: 250px;
}

.menu-item {
    display: flex;
    align-items: center;
}

#content {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    background-color: #D98324;
    border-radius: 15px;
    width: 500px;
    height: 550px;
    padding: 16px;
}