/* Good colour scheme for this site:
*  #443627 (primary)
*  #D98324 (secondary)
*  #EFDCAB (tertiary)
*  #F2F6D0 (other things)
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../img/restaurant-image.jpg');
    color: #F2F6D0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

figcaption {
    font-style: italic;
}

img {
    width: 250px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D98324;
    border-radius: 15px;
    width: 500px;
    padding: 16px;
}